html, body {
	color:#222;
	font-family:-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","宋体",Arial,sans-serif;
	/*background-color:#f0f0f0;*/
	margin:0;
	padding: 0;
	text-decoration: none;
}
body >.tips {
	position:fixed;
	display:none;
	top:50%;
	left:50%;
	z-index:100;
	text-align:center;
	padding:20px;
	width:200px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset, img {
	border:0;
}
address, caption, cite, code, dfn,  th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
a {
	color:#000000;
	text-decoration: none;
}
.left{ float:left}
.right{ float:right}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
*font-size:100%;
}
legend {
	color:#000;
}

.page {
	padding:15px;
}
.page .page-error, .page .page-loading {
	text-align:center;
	position:relative;
	line-height:30px;
}
.btn {
	display:block;
	color:#222;
	text-decoration:none;
	font-size:15px;
	/*font-weight:bold;*/
	background-color:#fcfcfc;
	margin:0 0 15px 0;
	padding:10px;
	text-align:center;
	cursor:pointer;
}
.icons {
	position:relative;
	border-radius:5px;
	width:25px;
	height:25px;
	overflow:hidden;
}
.icons.arrow-r {
	background:url(img/2000) no-repeat center center;
	width:12px;
	height:16px;
	background-size:100%;
}

.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}

div#content p {
	line-height:24px;
	table-layout: fixed;
    word-wrap:break-word;
    /*word-break:break-all;*/
	font-size:14px;
}
div#content p a {
	 color: #2768d2;
    text-decoration: underline;
}
div#content p a:hover {
    text-decoration: none;
}
.copyright{padding:8px;text-align:center;font-size:11px;color:#ccc;}
.copyright a{color:#ccc;}

	
/**/
h2 {
	font-size:16px;
}
h3 {
	font-size: 18px;
}
.marginb {
	display: block;
	margin-bottom: 15px;
}
.content {
	margin: 10px;
	text-decoration: none;
	word-wrap: break-word;
}
.content p {
	color: #666666;
	font-size: 14px;
	line-height: 1.5;
}
.content img {
	height: auto;
	max-width: 100%;
	border: 0 none;
}
/*popmenu*/
#popmenu{cursor:pointer; display:block; position:relative;  text-align: center; width: 200px; margin:0 auto; text-indent: 0;}
#popmenu:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -2px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #9D9D9D transparent;
}

#overlay{position:absolute;top:0;left:0;width:100%;min-height:40rem;height:100%;background:#fff;opacity:0;filter:alpha(opacity=0);display:none;z-index: 4;}

#win{position:absolute;top:55px;left:50%;
    width: 200px;margin:0 0 0 -100px;display:none;z-index: 5;}


.dropdown {
    /* Size and position */
    position: relative;
	display:block;
    margin: 0 auto;
    padding: 5px;

    /* Styles */
    background-color: rgba(47, 47, 47, 1);
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
	box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
	list-style: none outside none;

}

.dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 90px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: rgba(47, 47, 47, 0.9) transparent;    
}

.dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 88px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}
.dropdown li {
    background-color: rgba(58, 58, 58, 1);
    display: block;
    float: left;height: 37px;
    width: 50%;
}
.dropdown li span{
    border-color: #494949 #181818 #181818 #494949;
    border-left: 1px solid #494949;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
	line-height: 37px;
    display: block;
    font-size: 15px;
    height: 37px;
    text-align: center;
    text-shadow: 0 2px 2px #000000;
    width: 100%;
	overflow: hidden;
}
.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.9);
}


/*Listpage*/
.Listpage{
    position: relative;
    z-index: 2;
}
.fixed {
  /*position: fixed;*/
}
.top46{height:46px; padding:0; margin:0}
#ui-header{
  width: 100%;
  height: 46px;
  line-height:46px;
  z-index: 3;
  position: absolute;
left: 0;
top: 0;
right:0;
	}
#ui-header .fixed {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
    min-width: 320px;
	height: 45px;
	top: 0;
	border-bottom: 1px solid #D1D1D1;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9f9f9));
	background-image:-webkit-linear-gradient(#ffffff, #f9f9f9);
	background-image:-moz-linear-gradient(#ffffff, #f9f9f9);
	background-image:-ms-linear-gradient(#ffffff, #f9f9f9);
	background-image:-o-linear-gradient(#ffffff, #f9f9f9);
	background-image:linear-gradient(#ffffff, #f9f9f9);
	/*opacity: 0.95;*/
}
.ui-title{min-height: 46px; text-align: center; font-size: 16px; font-weight:normal; display: block; margin: 10px 70px 0; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; display:none;text-indent: -10px;}
.ui-btn-left { position:absolute; top:0px; left:0px; background:url(img/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-left_pre { position:absolute; top:0px; left:0px; background:url(img/pre.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right { position:absolute; top:0px; right:0px; background:url(img/Refresh.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px;margin:0; padding:0; background-size:28px auto;}
.ui-btn-right_menu { position:absolute; top:0px; right:0px; background:url(img/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right_home { position:absolute; top:0px; right:0px; background:url(img/home.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}

/*@media all and (max-width:600px) {
 .focus {
width:100%;
overflow:hidden
}
 .focus li {
width:100%;
}
 .focus img {
width:100%;
}
 .pubBox .bd li.boxImg .img {
height:auto;
max-height:140px;
}
 .pubBox .bd li.boxImg img {
width:100%;
}
}*/

/*news*/
#news{background-color:#F0EFEF;margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
	overflow-x: hidden;}
#activity-detail{background:#F0EFEF;}
#news .text{ margin:0.5rem 0 ; word-wrap: break-word;}
.text em{ font-style:italic}
.showpic img{
    width: 100%;margin-top: 5px;
}
.page-bizinfo{padding:15px 0.9rem 0 0.9rem; text-align: justify;}
.page-bizinfo .header #activity-name {
	font-size:20px;
	color:#000;
	/*font-weight:bold;*/
	word-break:normal;
	word-wrap:break-word;
}
.page-bizinfo .header #post-date{
	font-size:11px;
	color:#8c8c8c;
	margin:0;
}
.page-bizinfo .header .commentNum{
	font-size:11px;
	color:#8c8c8c;
	margin:0;
	display:none;
}
.page-bizinfo #biz-link.btn {
	background:url(http://t2.qpic.cn/mblogpic/426c637092f06ffde172/2000) no-repeat center center;
	background-size:100% 100%;
	border:none;
	height:42px;
	position:relative;
	text-align:left;
	padding:12px;
	padding-left:62px;
}
.page-bizinfo #biz-link.btn .arrow {
	position:absolute;
	top:22px;
	right:15px;
}
.page-bizinfo #biz-link.btn .logo {
	position:absolute;
	padding:6px;
	width:42px;
	height:42px;
	overflow:hidden;
	top:6px;
	left:5px;
}
.page-bizinfo #biz-link.btn .logo img {
	width:42px;
	height:42px;
	position:relative;
	z-index:10;
	border-radius:15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
.page-bizinfo #biz-link.btn .logo .circle {
	position:absolute;
	top:0;
	left:0;
	width:54px;
	height:54px;
	background:url(http://t2.qpic.cn/mblogpic/9d348430a143c680b1e4/2000) no-repeat center center;
	z-index:100;
	background-size:100% 100%;
}
.page-bizinfo #biz-link.btn #nickname {
	font-size:15px;
	color:#454545;
	/*text-shadow:0 1px 1px white;*/
}
.page-bizinfo #biz-link.btn #weixinid {
	font-size:12px;
	color:#a3a3a3;
	line-height:20px;
	/*text-shadow:0 1px 1px white;*/
}
.text img {
    max-width: 100%;
}
#news .list{
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin:10px;
	padding:10px 15px;
}
#news #recommend{
	display: block;
	color: #535353;
	border: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 0;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	margin: 0;
	text-indent:25px;
	background: url("img/ttext.png") no-repeat scroll left center transparent;
	background-size: 20px auto;
}
#news #olload{
	display: block;
	color: #535353;
	border: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 0;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	margin: 0;
	text-indent:25px;
	background: url("img/recommend.png") no-repeat scroll left center transparent;
	background-size: 20px auto;
}
#news .newsmore{
	display:block;
	margin-top: 0;
	cursor: pointer;
	border-top:1px solid #E0E0E0;
}
#news .newsmore a{
	display:block;
}
#news .olditem {
	display: block;
	padding: 10px 0 9px 0;
	background-color: #ffffff;
	line-height:25px;
    border-radius: 0;
    box-shadow: 0;
	text-align: left;
	background: url("img/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}
#news .title {
    display: block;
	margin-left:0;
	color: #535353;
    font-size: 14px;
	padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
#news .footer {
    /*box-shadow:0 3px 6px #e2e2e2;*/
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor: pointer;
	background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #DDDDDD;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	margin:10px;
	padding:15px;
	text-align:center;
	display: block;
}
#news .more{
    border: 1px solid #E0E0E0;
	-webkit-border-radius:26px;
	-moz-border-radius:26px;
	border-radius:26px;
	cursor: pointer;
	background-color:#FFFFFF;
	margin:10px 0;
	padding:10px;
	text-align:center;
	display: block;
}
.footer .top{
	background: url("img/newstop.png") no-repeat scroll left center transparent;
	background-size: 11px auto;
	display: block;
    margin: 0 auto;
    text-indent: 15px;
    width: 5.3rem;
}

/*iscroll*/

.banner {
	width:320px;
	margin:0 auto;
	padding:0;
	background-color: #333333;
}
#wrapper {
	margin:0;
	width:320px;
	height:auto;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	
}

#nav {
	float: right;
    margin-top: -15px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 3;
}

#prev, #next {
	float:left;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	width:80px;
	display: none;
}

#next {
	float:right;
	text-align:right;
}

#indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#indicator {
	display: block;
    margin: 0 8px;
    padding: 0;
    width: auto;
}

#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#888;
	overflow:hidden;
	margin-right:4px;
}

#indicator > li.active {
	background:#DDDDDD;
}

#indicator > li:last-child {
	margin:0;
}
#scroller li img{ width:320px; height:auto;}
